<ul>
  <% if Admin::RealEstatesController.searchable? %>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_real_estates_url,
					:url => admin_categories_url
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), new_admin_real_estate_url,
                 :class => "add_icon" %>
  </li>
 
<% if !searching? and Admin::RealEstatesController.sortable? and RealEstate.count > 1 %>
  <li>
    <%= link_to t('.reorder', :what => "Real Estates"),
                 admin_real_estates_url,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Real Estates"),
                 admin_real_estates_url,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>